.bg {
	background-image: url("/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.box {
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	border-radius: 10px;
	border: 1px solid #fff;
	background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
	backdrop-filter: blur(15px);
	max-width: 760px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		color: #fff;
		font-family: SF Pro Display;
		font-size: 48px;
		font-style: normal;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 94%;
		max-width: 360px;
	}

	span {
		color: #fff;
		font-family: SF Pro Display;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
	}
}

.logo {
	position: absolute;
	top: 40px;
	right: 40px;

	span:first-child {
		color: #fff;
		text-align: center;
		font-family: SF Pro Display;
		font-size: 16px;
		font-style: normal;
		font-weight: 900;
		text-transform: uppercase;
	}
	span:last-child {
		color: #c50140;
		font-family: SF Pro Display;
		font-size: 16px;
		font-style: normal;
		font-weight: 900;
		text-transform: uppercase;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	button {
		color: #fff;
		text-align: center;
		font-family: SF Pro Display;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		cursor: pointer;
	}

	button:first-child {
		border-radius: 10px;
		background: #c50140;
		height: 40px;
		padding: 6px 20px;
		border: 1px solid transparent;
		transition: all 0.3s;
		&:hover {
			border: 1px solid #fff;
			background: #c50140;
		}
	}
	button:last-child {
		border-radius: 10px;
		height: 40px;
		padding: 6px 20px;
		border: 1px solid #fff;
		background: transparent;
		transition: all 0.3s;
		&:hover {
			border: 1px solid transparent;
			background: #c50140;
		}
	}
}
