.notfound {
  position: relative;
  height: 100vh;
  width: 100vw;

  > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;

    > a {
      font-family: montserrat, sans-serif;
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
      color: #211b19;
      text-transform: uppercase;
      padding: 13px 23px;
      font-size: 18px;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;

      background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
      backdrop-filter: blur(15px);
      border: 2px solid #fff;
    }

    > div {
      position: relative;
      height: 200px;
      margin: 0 auto 20px;
      z-index: -1;

      > h1 {
        font-size: 236px;
        font-weight: 200;
        margin: 0;
        color: #211b19;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      > h2 {
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        color: #211b19;
        background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
        backdrop-filter: blur(15px);
        padding: 10px 5px;
        margin: auto;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 300px;
        border: 2px solid #fff;
      }
    }
  }
}
