.leftside {
  width: 96px;
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  transition: all 0.2s linear;
  border-right: 1px solid #fff;
}

.sticky {
  position: sticky;
  top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 14px 34px;
  margin-bottom: 30px;
  border-right: 3px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.3s linear;

  div {
    transition:
      text-shadow 0.3s linear,
      color 0.3s linear;
  }
}
.active {
  border-right: 3px solid #0085ff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  transition: all 0.3s linear;
  animation: fadeInTwo 0.3s linear;

  div {
    color: #0085ff !important;
    text-shadow: 0px 0px 20px #0085ff;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 24px;
  transition: all 0.3s linear;
}

.leftsideActive {
  width: 360px;
  transition: all 0.2s linear;

  a {
    min-width: 170px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 36px;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    gap: 10px;
    transition:
      color 0.3s linear,
      text-shadow 0.3s linear,
      border 0.3s linear;
  }

  &:first-child {
    div {
      min-width: 170px;

      span:first-child {
        color: #000;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
      }
      span:last-child {
        color: #c50140;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}

.activeButton {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 14px 0;
  margin-bottom: 20px;
  width: 100%;

  svg {
    transition: all 0.3s;
    transform: rotateZ(0deg);
  }
}

.isActiveButton {
  justify-content: normal;
  padding: 14px 36px;
  svg {
    transition: all 0.3s;
    transform: rotateZ(-180deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTwo {
  0% {
    border-right: 3px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  100% {
    border-right: 3px solid #0085ff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
      rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
  }
}
@keyframes fadeInThree {
  0% {
    border-bottom: 3px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  100% {
    border-bottom: 3px solid #0085ff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
      rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
  }
}

@media screen and (max-width: 1200px) {
  .leftside {
    width: 100%;
    background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    padding: 0;
    transition: all 0.2s linear;
    border-right: 1px solid #fff;
    justify-content: center;
    position: fixed;
    z-index: 4;
  }

  .sticky {
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    top: 0;
  }

  .activeButton {
    margin: 0;
  }

  .logo {
    width: 50px;
    height: 50px;
  }
  .active {
    border-bottom: 3px solid #0085ff !important;
    border-left: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
    border-right: 1px solid #fff !important;

    animation: fadeInThree 0.3s linear;
  }
  .nav {
    margin: 0;
    padding: 30px 20px;
    border-bottom: 3px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .logo {
    margin: 0;
  }
}
