.leftside {
  width: 96px;
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  stroke-width: 2px;
  stroke: #fff;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 14px 0;
  margin-bottom: 30px;
  border-right: 3px solid transparent;
}
.active {
  border-right: 3px solid #0085ff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
