.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("./bg-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
