.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url("/bg-2.png");
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1200px) {
  .layout {
    flex-direction: column;
  }
}
